/**
 * SimpleTalk Skin for Material Design
 */

/**
 * =Keyframe Animations
 *----------------------------------------------------*/

/* =Variables
 *----------------------------------------------------*/
st-stack {
    --skin-background-transparency: 0.0;
    --skin-background-opacity: calc(1.0 - var(--skin-background-transparency));
    --skin-background-color-rgb: 255, 255, 255;
    --skin-background-color: rgba(var(--skin-background-color-rgb), var(--skin-background-opacity));
    --skin-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --skin-hover-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --skin-button-font-size: 14;
    --skin-button-font-weight: 600;
    --skin-button-padding-left: 16px;
    --skin-button-padding-right: 16px;
}

/* =Button Styles
 *-----------------------------------------------------*/
st-button {
    --skin-background-color-rgb: 120, 0, 120;
    --skin-background-transparency: 0.0;
    font-family: sans-serif;
    font-size: var(--skin-button-font-size);
    font-weight: var(--skin-button-font-weight);
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: var(--skin-box-shadow);
    color: white;
}

st-button:hover {
    box-shadow: var(--skin-hover-box-shadow);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

/* =All Part Styles
 *-----------------------------------------------------*/
[part-id],
[lens-part-id] {
    background-color: rgba(var(--skin-background-color-rgb), calc(1.0 - var(--skin-background-transparency)));
}
